@import "colors";

.about {
  width: 100%;
  background-color: $pink;

  > main {
    background-color: lightpink;
    width: 80%;
    height: 100%;
    margin: auto;

    > h1 {
      font: 500 3rem "Roboto";
      color: $red;
      padding: 1rem 2rem;
      text-transform: uppercase;
      background-color: $dark;
    }

    > article {
      margin: 2rem 0;
      > h4 {
        font: 400 2rem "Roboto";
        text-transform: uppercase;
        text-align: center;
        padding: 2rem 0;
      }

      > p {
        letter-spacing: 3px;
        font-size: 1.5rem;
        word-spacing: 3px;
        padding: 2rem;
        width: 50%;
        text-align: center;
        margin: auto;
      }

      > a {
        background-color: $dark;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        font-size: 1.5rem;
        transition: all 0.3s;
        margin: auto;
        &:hover {
          color: $red;
          transform: scale(1.1);
        }
      }
    }

    > div {
      background-color: $dark;
      color: white;
      > h2 {
        text-transform: uppercase;
        padding: 1rem 2rem 0.5rem;
      }

      > article {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about > main {
    width: 100%;
    > h1 {
      font: 100 2rem "Roboto";
      text-align: center;
    }

    > article > p {
      width: 80%;
      font-size: 1rem;
    }

    > div {
      > h2 {
        text-align: center;
      }

      > article {
        flex-direction: column;

        > p {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about > main {
    width: 100%;
    > h1 {
      font: 100 2rem "Roboto";
      text-align: center;
    }

    > article > p {
      width: 100%;
      font-size: 1rem;
    }

    > div {
      > h2 {
        text-align: center;
      }

      > article {
        flex-direction: column;

        > p {
          text-align: center;
        }
      }
    }
  }
}
