.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  border: none;
  background-color: yellow;
  color: #a07979;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #f5f5f5;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 120px;
  background-color: rgba(121, 121, 92, 0.927);
  box-shadow: none;
  padding: 10px 0;
}

.dropdown-item {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
