@import "colors";

footer {
  background-color: $dark;

  > div {
    padding: 1rem 6rem 1rem 6rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
    align-items: center;
  }
  h2 {
    color: rgba(165, 42, 42, 0.754);
    font-family: fantasy;
    font-weight: 400;
    font-size: 2rem;
  }

  .strong {
    margin: 2rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icons {
      display: flex;
      flex-direction: column;
    }

    h4 {
      font-size: 1.1rem;
    }

    a {
      font-size: 2rem;
      color: white;
      &:hover {
        color: $red;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    text-align: center;
    > div {
      grid-template-columns: 1fr;
    }
    aside {
      a {
        margin: 0 1rem;
      }
      .icons {
        flex-direction: row;
      }
    }
  }
}
