@import "colors";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 51, 66);
  box-shadow: none;

  > div {
    display: flex;
    align-items: center;
    margin-right: 2rem;

    > svg {
      margin-right: 2rem;
      color: #9f0808;
      margin: 0.5rem 1rem;
      filter: drop-shadow(1px 0 0 pink) drop-shadow(-1px 0 0 pink)
        drop-shadow(0 1px 0 pink) drop-shadow(0 -1px 0 pink);
      font-size: 4rem;
    }

    > a {
      margin: 0 1rem;
      color: white;
      transition: color 0.3s;
      font-size: 1.5rem;
      &:hover {
        transition: text-shadow 0.5s;
        color: white;
        text-shadow: 3px 3px brown, 3px -3px brown, -3px 3px brown,
          -3px -3px brown;
      }

      > svg {
        color: $red;
        transition: inherit;
        font-size: 2rem;
        &:hover {
          color: $lightdark;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    > div {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      padding: none;

      margin: 0 1rem;
      font-size: 1.5rem;
      > svg {
        margin: 0rem 0rem;
        filter: drop-shadow(1px 0 0 pink) drop-shadow(-1px 0 0 pink)
          drop-shadow(0 1px 0 pink) drop-shadow(0 -1px 0 pink);
        font-size: 3rem;
      }

      > a {
        margin: 0 0.5rem;
      }
    }
  }
}
